PORT=3000

# JWT
JWT_SECRET=minha-chave-felipe
JWT_EXPIRES_IN=30d

# Admin key para endpoints globais (IOCS/list, IOCS/add, IOCS/update, IOCS/delete)
ADMIN_API_KEY=minha-chave-felipe

# PostgreSQL
DATABASE_URL=postgres://ioc:iocpass@db:5432/iocdb

# bcrypt
BCRYPT_ROUNDS=12
