PORT=3000

# JWT
JWT_SECRET=4d4efe773e4dec77dc53e879f0dd81d3b6c5d4f61a0343385c33bc44216db2bba8a81d9d9148b98ca75343f5193bb0eb79ff044b5f7d505a82f0b05a78afa629
JWT_EXPIRES_IN=30d

# Admin key para endpoints globais (IOCS/list, IOCS/add, IOCS/update, IOCS/delete)
ADMIN_API_KEY=minha-chave-felipe

# PostgreSQL
DATABASE_URL=postgres://ioc:iocpass@db:5432/iocdb

# bcrypt
BCRYPT_ROUNDS=12
